@color-major: #36c;
@color-error: #D33;
@color-text: #202122;

@site-width-wide: 1024px;
@site-width-narrow: 750px;

.transition-ease-out-fast() {
  transition-duration: .1s;
  transition-timing-function: ease-out;
}

.transition-ease-out-normal() {
  transition-duration: .15s;
  transition-timing-function: ease-out;
}

.card-normal() {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}
