@color-bg: var(--color-bg);
@color-major: #36c;
@color-error: #D33;
@color-text: var(--color-text);
@color-text-inverted: var(--color-bg);
@color-link: var(--color-link);
@color-link-visited: var(--color-link-visited);
@color-link-active: var(--color-link-active);
@color-text-secondary: var(--color-text-secondary);
@color-card-bg: var(--color-card-bg);
@color-table-alt: var(--color-table-alt);
@color-border: var(--color-border);

@color-shadow-normal: var(--color-shadow-normal);
@color-shadow-heavy: var(--color-shadow-heavy);

@color-switch-inactive: var(--color-switch-inactive);
@color-switch-hover: var(--color-switch-hover);
@color-switch-indicator-focus: var(--color-switch-indicator-focus);
@color-switch-indicator-active: var(--color-switch-indicator-active);

@color-button-normal: var(--color-button-normal);
@color-button-normal-hover: var(--color-button-normal-hover);
@color-button-normal-active: var(--color-button-normal-active);

@site-width-wide: 1024px;
@site-width-narrow: 750px;

@opacity-switch-indicator-focus: 8%;
@opacity-switch-indicator-active: 16%;

@border-radius: 8px;

.transition-ease-out-fast() {
  transition-duration: .1s;
  transition-timing-function: ease-out;
}

.transition-ease-out-normal() {
  transition-duration: .15s;
  transition-timing-function: ease-out;
}

.card-normal() {
  background-color: @color-card-bg;
  border-radius: @border-radius;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.svg-invent-on-dark() {
  @media (prefers-color-scheme: dark) {
    filter: invert(100%) grayscale(100%);
  }
}
