@import 'mixins.less';

:root {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

div,
span,
p {
  color: @color-text;
}

a {
  color: @color-major;
  text-decoration: none;

  &:visited {
    color: #6b4ba1;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: #2a4b8d;
    text-decoration: underline;
  }
}
